.recommended-btns{
    margin: 10px;
    width: 75%;
}
.recommended-btns-btn{
    width: 110px;
    display: inline;
    margin: 5px;
    border-radius: 5px;
}
.input-search-container{
    width: 60%;
    margin-top: 7px;
}
.input-search-container input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius:5px;
    font-size: 20px;
}