footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 40px;
    background-color: #6b240c;
}
footer p{
    font-size: 20px;
    margin-right: 10px;
}
footer .githubLink a{
    font-size: 20px;
    color: #e48f45;
}