.header{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    position: fixed;
    top: 0;
    left: 20%;
  
}
@media (max-width:620px) {
    .header{
        left: 9%;
        width: 80vw;
       
    }
    
}