.products{
    flex-grow: 1;
    width: 97vw;
    margin: 10px;
    margin-top: 90px;
    display: flex;
}
.products_sidebar{
    margin-right: 10px;
    width: 25%;
    border-right: 1.5px solid #e48f45 ;
}
.products .products_body{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.products .products_body .card-container{
    flex-grow: 1;
    display: flex;
    margin: 15px 0;
}